{{- if (and (not .Values.k6.existingSecret) (.Values.k6.cloudApiKey)) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "secret.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- range $key, $value := .Values.extraLabels }}
    {{ $key }}: {{ $value }}
  {{- end }}
type: Opaque
data:
  cloud-api-key: {{ .Values.k6.cloudApiKey | b64enc | quote }}
{{- end }}
